.issue-detail-container {
  display: flex;
}

.issue-reporter-details {
  margin-left: 1.5rem;
}

.issue-actions-container {
  margin-top: 2rem;
  display: grid !important;
}

.issue-tile {
  background-color: white !important;
  border: 1px solid #f4f4f4;
  border-radius: 5px;
}

.issue-p {
  padding-right: 1rem;
}

.issue-comment-textarea {
  margin-top: 4rem;
  padding: 0.5rem;
}
.issue-p-top {
  margin-top: 0.5rem;
}

.btn-issue {
  margin-bottom: 0.5rem !important;
  width: 100%;
  max-width: none;
  justify-content: center !important;
  border-radius: 8px !important;
  inline-size: unset !important;
  max-inline-size: unset !important;
}

.custom-btn-success {
  background-color: #24a148 !important;
  color: white !important;

  &:hover {
    background-color: #197537 !important;
  }

  &:focus {
    border-color: #197537 !important;
    box-shadow:
      0 0 0 2px #fff,
      0 0 0 4px #197537 !important;
  }
}

.issue-history-container {
  margin-top: 3rem;
  padding: 0.5rem;
}
