.health-context-selector {
  display: flex;
  align-items: center;
  min-width: 12rem;
  max-width: 18rem;

  .cds--select,
  .cds--select-input__wrapper,
  .cds--select-input {
    width: 100%;
  }

  .cds--select-input {
    border-bottom: 0;
  }
}

@media (max-width: 672px) {
  .health-context-selector {
    min-width: 8rem;
    max-width: 10rem;
  }
}
