@use "@carbon/styles/scss/colors";
@use "@carbon/styles/scss/type";
.multi-select-period-container {
  height: 300px;
  overflow-y: auto;
}

.selected-period-container {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.panel-container {
  display: flex;
  margin-top: 1rem;
}

.list {
  display: flex;
  flex-direction: column;
  max-height: 25rem;
  overflow-y: auto;
}

.left-list-item {
  list-style-type: none;
  padding: 0.75rem 1rem;
  @include type.type-style("body-compact-01");

  &:hover {
    background-color: colors.$gray-10-hover;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &::after {
      content: "→";
    }
  }
}

.periods-control-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 0.5rem;

  > * + * {
    margin-top: 1rem;
  }
}

.right-list-item {
  list-style-type: none;
  padding: 0.75rem 1rem;
  @include type.type-style("body-compact-01");

  &:hover {
    background-color: colors.$gray-10-hover;
    justify-content: space-between;
    display: flex;
    align-items: center;

    &::after {
      content: "✕";
    }
  }
}

.btn-ndwh-mv {
  border-radius: 5px !important;
}
