/* src/components/footer/PublicFooter.css */
.public-footer {
  /*margin-top: 4rem;*/
  /*padding: 1.5rem 0;*/
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 1000;
  background: var(--cds-layer);
  border-top: 1px solid var(--cds-border-subtle);
}

.public-footer p {
  margin-top: 0.5rem;
  color: var(--cds-text-secondary);
}

.footer-links {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-links li {
  margin-bottom: 0.5rem;
}

.footer-links a {
  color: var(--cds-link-primary);
  text-decoration: none;
}

.footer-links a:hover {
  text-decoration: underline;
}

.footer-bottom {
  /*margin-top: 1.5rem;*/
  padding: 1rem 0 1rem 0;
  text-align: center;
  font-size: 0.875rem;
  color: var(--cds-text-secondary);
}
